<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/maquillaje/frmMantMaquillaje.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Mantenimiento de Maquillaje
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblmaquillaje" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Actualizar</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="maqui :${listaMaquillaje}">
                <td th:text="${maqui.id_maquillaje}"></td>
                <td th:text="${maqui.tiempo_maquillaje}"></td>
                <td th:text="${maqui.precio_maquillaje}"></td>
                <td th:text="${maqui.descmaquillaje.desc_maquillaje}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-maquicod="${maqui.id_maquillaje}"
                            th:data-maquiname="${maqui.tiempo_maquillaje}"
                            th:data-maquiprice="${maqui.precio_maquillaje}"
                            th:data-maquiDescMaqui="${maqui.descmaquillaje.id_desc_maquillaje}">
                        <i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Maquillaje -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Maquillaje</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txttiempo" class="form-label">Tiempo</label>
                    <input type="text" class="form-control" id="txttiempo">
                </div>
                <div class="mb-3">
                    <label for="txtprecio" class="form-label">Precio </label>
                    <input type="text" class="form-control" id="txtprecio">
                </div>
                <div class="mb-3">
                    <label for="cbodesc" class="form-label">Descripcion Maquillaje</label>
                    <select id="cbodesc" class="form-control"></select>
                </div>
                <input type="hidden" id="hddcodmaqui" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>